@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  font-family: Poppins;
}
.App {
  padding: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

button {
  background: #131313;
  border: none;
  color: white;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
}
button:hover {
  background: yellow;
  cursor: pointer;
}